* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Darker Grotesque', sans-serif;
    font-family: 'EB Garamond', serif;
    font-family: 'Special Elite', cursive;
    color: white;
}
navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 7vh;
    background-image: linear-gradient(#961a31 0%, #c43b46 80%);
    position: fixed;
    width: 100%;
}
.logo {
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 32px;
    font-weight: bold;
}
.nav__list {
    display: flex;
    justify-content: space-around;
    width: 40%;
}
.nav__list li {
    list-style: none;
}
.nav__link {
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 18px;
}
.burger {
    display: none;
}
.burger div {
    width: 25px;
    height: 2px;
    margin: 5px;
    background-color: white;
}
@media screen and (max-width:1024px){
    .nav__list {
        width: 60%;
    }
}

@media screen and (max-width:768px){
    body {
        overflow-x: hidden;
    }
    .nav__list {
        position: absolute;
        right: 0px;
        height: 93vh;
        top:8vh;
        background-image: linear-gradient(#86041c 0%, #d82736 80%);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav__list {
        opacity: 0;
    }
    .burger {
        display: block;
        cursor: pointer;
    }
}

.nav-active {
    transform: translateX(0%);
}

#welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: radial-gradient( #474444, #0c0c0c);
    width: 100%;
    height: 100vh;
    padding: 5%;
}
.welcome-section__title {
    letter-spacing: 0.2em;
    font-size: 3em;
    margin-bottom: 10px;
    text-align: center;
}
.welcome-section__subtitle {
    font-size: 1.5em;
    letter-spacing: 0.1em;
    color: rgba(248, 31, 31, 0.692);
}

#projects {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(45deg, #284063, #5c88af);
    padding: 5%;
}
.projects-title {
    text-align: center;
    padding-bottom: 1.5em;
    font-size: 3em;
}
.projects__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px auto;
    width: 90%;
    height: 70%;
    gap: 35px;
}
.project-tile {
    display: flex;
    align-items: flex-end;
    letter-spacing: 3px;
    justify-content: center;
}
.project-tile__item {
    text-decoration: none;
    background-image: radial-gradient( #474444, #0c0c0c);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size:1.8em;
    border-radius: 10px;
    border-style: solid;
    border-color: #161616;
}
.project-tile__img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
#techdocimg {
    background-position: right;
    background-size: cover;
}
.contacts {
    width: 100%;
    height: 100%;
    background-image: radial-gradient( #474444, #0c0c0c);
}

.contacts {
    text-align: center;
    padding: 1.5em;
    padding-bottom: 5%;
}
.contacts__title {
    font-size: 3em;
    padding: 1.0em 0 30px 0;
    letter-spacing: 3px;
}
.contacts__email {
    font-size: 1.4em;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 3px;
    color: rgba(248, 31, 31, 0.692);
}
.contacts__subtitle {
    padding: 1.5em;
    font-size: 1.3em;
}
.contacts__list {
    display: flex;
    width: 50%;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    font-size: 1.4em;
    font-weight: bold;
    letter-spacing: 3px;
    list-style: none;
}
.contacts__list__links {
    text-decoration: none;
    color: rgba(248, 31, 31, 0.692);
}

@media screen and (max-width:1024px){
    .contacts__list {
        width: 80%;
    }
}

a:hover {
    color: rgb(70, 172, 172);
}

<style>
@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque&family=EB+Garamond&family=Special+Elite&display=swap');
</style>